<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.YonghuMapper">
  <resultMap id="BaseResultMap" type="com.entity.Yonghu">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="yonghuming" jdbcType="VARCHAR" property="yonghuming" />    <result column="mima" jdbcType="VARCHAR" property="mima" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="xingbie" jdbcType="VARCHAR" property="xingbie" />    <result column="lianxishouji" jdbcType="VARCHAR" property="lianxishouji" />    <result column="dizhi" jdbcType="VARCHAR" property="dizhi" />    <result column="jifen" jdbcType="VARCHAR" property="jifen" />    <result column="quanxian" jdbcType="VARCHAR" property="quanxian" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, yonghuming,mima,xingming,xingbie,lianxishouji,dizhi,jifen,quanxian, addtime
  </sql>
  <select id="quchongYonghu"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from yonghu 
    where yonghuming = #{yonghuming,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from yonghu  where 1=1
    <if test="yonghuming!=null">and yonghuming like  concat('%',#{yonghuming,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="lianxishouji!=null">and lianxishouji like  concat('%',#{lianxishouji,jdbcType=VARCHAR},'%')</if>     <if test="dizhi!=null">and dizhi like  concat('%',#{dizhi,jdbcType=VARCHAR},'%')</if>     <if test="jifen!=null">and jifen like  concat('%',#{jifen,jdbcType=VARCHAR},'%')</if>     <if test="quanxian!=null">and quanxian like  concat('%',#{quanxian,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yonghu  where 1=1
    <if test="yonghuming!=null">
    and yonghuming =#{yonghuming}
    </if>
  </select>
  
  <select id="getsyyonghu1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yonghu  where 1=1
    limit 0,5
  </select>
  <select id="getsyyonghu2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yonghu  where 1=1
    limit 0,5
  </select>
  <select id="getsyyonghu3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yonghu  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from yonghu where 1=1 
     <if test="yonghuming!=null">and yonghuming like  concat('%',#{yonghuming,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="lianxishouji!=null">and lianxishouji like  concat('%',#{lianxishouji,jdbcType=VARCHAR},'%')</if>     <if test="dizhi!=null">and dizhi like  concat('%',#{dizhi,jdbcType=VARCHAR},'%')</if>     <if test="jifen!=null">and jifen like  concat('%',#{jifen,jdbcType=VARCHAR},'%')</if>     <if test="quanxian!=null">and quanxian like  concat('%',#{quanxian,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yonghu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yonghu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Yonghu">
    insert into yonghu (id, yonghuming,mima,xingming,xingbie,lianxishouji,dizhi,jifen,quanxian, addtime)
    values (#{id,jdbcType=INTEGER}, #{yonghuming,jdbcType=VARCHAR},#{mima,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{xingbie,jdbcType=VARCHAR},#{lianxishouji,jdbcType=VARCHAR},#{dizhi,jdbcType=VARCHAR},#{jifen,jdbcType=VARCHAR},#{quanxian,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Yonghu">
    insert into yonghu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="yonghuming != null"> yonghuming, </if>      <if test="mima != null"> mima, </if>      <if test="xingming != null"> xingming, </if>      <if test="xingbie != null"> xingbie, </if>      <if test="lianxishouji != null"> lianxishouji, </if>      <if test="dizhi != null"> dizhi, </if>      <if test="jifen != null"> jifen, </if>      <if test="quanxian != null"> quanxian, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yonghuming != null"> #{yonghuming,jdbcType=VARCHAR},</if>      <if test="mima != null"> #{mima,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> #{xingbie,jdbcType=VARCHAR},</if>      <if test="lianxishouji != null"> #{lianxishouji,jdbcType=VARCHAR},</if>      <if test="dizhi != null"> #{dizhi,jdbcType=VARCHAR},</if>      <if test="jifen != null"> #{jifen,jdbcType=VARCHAR},</if>      <if test="quanxian != null"> #{quanxian,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Yonghu">
    update yonghu
    <set>
	  <if test="yonghuming != null"> yonghuming = #{yonghuming,jdbcType=VARCHAR},</if>      <if test="mima != null"> mima = #{mima,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> xingbie = #{xingbie,jdbcType=VARCHAR},</if>      <if test="lianxishouji != null"> lianxishouji = #{lianxishouji,jdbcType=VARCHAR},</if>      <if test="dizhi != null"> dizhi = #{dizhi,jdbcType=VARCHAR},</if>      <if test="jifen != null"> jifen = #{jifen,jdbcType=VARCHAR},</if>      <if test="quanxian != null"> quanxian = #{quanxian,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Yonghu">
    update yonghu
    set yonghuming = #{yonghuming,jdbcType=VARCHAR},mima = #{mima,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},xingbie = #{xingbie,jdbcType=VARCHAR},lianxishouji = #{lianxishouji,jdbcType=VARCHAR},dizhi = #{dizhi,jdbcType=VARCHAR},jifen = #{jifen,jdbcType=VARCHAR},quanxian = #{quanxian,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
