<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.YouhuiquanMapper">
  <resultMap id="BaseResultMap" type="com.entity.Youhuiquan">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="youhuiquanbianhao" jdbcType="VARCHAR" property="youhuiquanbianhao" />    <result column="youxiaoriqi" jdbcType="VARCHAR" property="youxiaoriqi" />    <result column="shiyongshuoming" jdbcType="VARCHAR" property="shiyongshuoming" />    <result column="yonghu" jdbcType="VARCHAR" property="yonghu" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, youhuiquanbianhao,youxiaoriqi,shiyongshuoming,yonghu, addtime
  </sql>
  <select id="quchongYouhuiquan"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from youhuiquan 
    where yonghu = #{yonghu,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from youhuiquan  where 1=1
    <if test="youhuiquanbianhao!=null">and youhuiquanbianhao like  concat('%',#{youhuiquanbianhao,jdbcType=VARCHAR},'%')</if>     <if test="youxiaoriqi1!=null">and youxiaoriqi &gt;=  concat('',#{youxiaoriqi1,jdbcType=VARCHAR},'')</if>     <if test="youxiaoriqi2!=null">and youxiaoriqi &lt;=  concat('',#{youxiaoriqi2,jdbcType=VARCHAR},'')</if>     <if test="shiyongshuoming!=null">and shiyongshuoming like  concat('%',#{shiyongshuoming,jdbcType=VARCHAR},'%')</if>     <if test="yonghu!=null">and yonghu like  concat('%',#{yonghu,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from youhuiquan  where 1=1
    <if test="yonghu!=null">
    and yonghu =#{yonghu}
    </if>
  </select>
  
  <select id="getsyyouhuiquan1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from youhuiquan  where 1=1
    limit 0,5
  </select>
  <select id="getsyyouhuiquan2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from youhuiquan  where 1=1
    limit 0,5
  </select>
  <select id="getsyyouhuiquan3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from youhuiquan  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from youhuiquan where 1=1 
     <if test="youhuiquanbianhao!=null">and youhuiquanbianhao like  concat('%',#{youhuiquanbianhao,jdbcType=VARCHAR},'%')</if>     <if test="youxiaoriqi1!=null">and youxiaoriqi &gt;=  concat('',#{youxiaoriqi1,jdbcType=VARCHAR},'')</if>     <if test="youxiaoriqi2!=null">and youxiaoriqi &lt;=  concat('',#{youxiaoriqi2,jdbcType=VARCHAR},'')</if>     <if test="shiyongshuoming!=null">and shiyongshuoming like  concat('%',#{shiyongshuoming,jdbcType=VARCHAR},'%')</if>     <if test="yonghu!=null">and yonghu like  concat('%',#{yonghu,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from youhuiquan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from youhuiquan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Youhuiquan">
    insert into youhuiquan (id, youhuiquanbianhao,youxiaoriqi,shiyongshuoming,yonghu, addtime)
    values (#{id,jdbcType=INTEGER}, #{youhuiquanbianhao,jdbcType=VARCHAR},#{youxiaoriqi,jdbcType=VARCHAR},#{shiyongshuoming,jdbcType=VARCHAR},#{yonghu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Youhuiquan">
    insert into youhuiquan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="youhuiquanbianhao != null"> youhuiquanbianhao, </if>      <if test="youxiaoriqi != null"> youxiaoriqi, </if>      <if test="shiyongshuoming != null"> shiyongshuoming, </if>      <if test="yonghu != null"> yonghu, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="youhuiquanbianhao != null"> #{youhuiquanbianhao,jdbcType=VARCHAR},</if>      <if test="youxiaoriqi != null"> #{youxiaoriqi,jdbcType=VARCHAR},</if>      <if test="shiyongshuoming != null"> #{shiyongshuoming,jdbcType=VARCHAR},</if>      <if test="yonghu != null"> #{yonghu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Youhuiquan">
    update youhuiquan
    <set>
	  <if test="youhuiquanbianhao != null"> youhuiquanbianhao = #{youhuiquanbianhao,jdbcType=VARCHAR},</if>      <if test="youxiaoriqi != null"> youxiaoriqi = #{youxiaoriqi,jdbcType=VARCHAR},</if>      <if test="shiyongshuoming != null"> shiyongshuoming = #{shiyongshuoming,jdbcType=VARCHAR},</if>      <if test="yonghu != null"> yonghu = #{yonghu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Youhuiquan">
    update youhuiquan
    set youhuiquanbianhao = #{youhuiquanbianhao,jdbcType=VARCHAR},youxiaoriqi = #{youxiaoriqi,jdbcType=VARCHAR},shiyongshuoming = #{shiyongshuoming,jdbcType=VARCHAR},yonghu = #{yonghu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
